@import "../bower_components/bootstrap/less/bootstrap.less";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

@font-family-base: 'Open Sans', sans-serif;
@font-weight-normal: 400;
@font-weight-bold: 700;

@color-white: rgba(255,255,255,1);
@color-white-secondary: rgba(255,255,255,.7);
@color-white-divider: rgba(255,255,255,.5);

@color-black: rgba(0,0,0,.87);
@color-black-secondary: rgba(0,0,0,.54);
@color-black-divider: rgba(0,0,0,.3);

@line-height-base:        1.8; // 20/14

@link-color: @color-white-secondary;

body{
  font-weight: @font-weight-normal;
  text-align: center;
  background: url(../img/bg-header-new.jpg) no-repeat center center;  
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 200px #000;
  
}

h1,h2,h3,h4,h5,h6, strong{
  font-weight: @font-weight-bold;
}


header{
  color: @color-white;
  background: @color-black-divider;
  box-shadow: inset 0 0 500px #570c13;
  text-shadow: 0 -1px 0 rgba(0,0,0,.6);
  padding: 40px 0 80px 0;
  @media (min-width: @screen-md-min) { 
    padding: 140px 0 180px 0;
  }

  .btn{
    @media (max-width: @screen-xs-max) { 
      .btn-block;
    }    
  }
  
  h1{
    margin-bottom: 30px;
  }
  p{
    font-size:  @font-size-h4;
    margin-bottom: 30px;
    @media (min-width: @screen-md-min) { 
      padding: 0 100px;
    }
  }
  .brand{
    margin-bottom: 40px;
    @media (min-width: @screen-md-min) { 
      margin-bottom: 80px;
    }
    img{
      height: 50px;
    }
  }//h1
}

section, footer{
  background: @color-white;
  padding: 50px 0;
  @media (min-width: @screen-md-min) { 
    padding: 100px 0;
  }
//  border-bottom: 1px solid @color-black-divider;
}

.blurbs{
  .col-md-4{
//    border-bottom: 1px solid @color-black-divider;
    padding-bottom: 20px;
    @media (min-width: @screen-md-min) { 
      border-bottom: none;
      padding-bottom: 0px;
    }
  }
}

.call{
  background: @color-black-divider;
  box-shadow: inset 0 0 200px #570c13;
  color: @color-white;
  h2{
    margin-bottom: 20px;
  }
  p{
//    font-size:  @font-size-h4;
//    margin-bottom: 30px;
    @media (min-width: @screen-md-min) { 
      padding: 0 140px;
    }
  }
  a{
    margin-top: 20px;
  }
}

footer{
  background: #222;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,.6);
  ul{
    display: inline-block;
//    border-bottom: 1px solid @color-white-divider;
//    padding-bottom: 20px;
    margin-bottom: 30px;
  }
  .rh-logo{
    img{
      height: 40px;
    }
  }
  
}